In [10]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [16]:
pt_train=pd.read_csv(r'C:\Users\gupta\Downloads\Property_train.csv')

pt_test=pd.read_csv(r'C:\Users\gupta\Downloads\Property_test.csv')

In [14]:
pt_train.head(10)

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0
5,0,UN74,10385.0,2/4/2009,PRN0,7085,CAT3,A,missing,8381.0,...,A,7297.0,EFZH,WHITE,AZ,80353,2005,A,4,9204.0
6,0,NMSK,13057.0,11/1/2010,ARWN,8100,CAT2,A,missing,12259.0,...,A,8750.0,WHBI,GREEN,CA,64674,2008,A,2,8835.0
7,0,K3BB,8157.0,11/18/2010,4ZHP,5440,CAT2,B,missing,7218.0,...,A,3904.0,FIVQ,WHITE,NC,68939,2005,A,5,4304.0
8,1,7CIG,12460.0,10/14/2010,4VDP,8300,OTHER,missing,missing,10989.0,...,A,7054.0,6E9G,RED,FL,64896,2006,B,4,8864.0
9,0,CNWW,12501.0,4/28/2010,OZMT,10535,CAT3,A,missing,10684.0,...,A,7332.0,0HMV,WHITE,TX,80633,2004,A,6,10142.0

In [17]:
pt_test.head(10)

,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,ExpeditedListing,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,6LLJ,10645.0,9/22/2010,ZCI3,6015,CAT3,A,missing,9568.0,0,...,B,5911.0,UA42,BLUE,NC,67549,2006,A,4,8311.0
1,QD0H,9891.0,3/12/2010,RRJQ,7625,OTHER,A,missing,8888.0,0,...,A,5370.0,BUNS,BLUE,FL,56570,2004,B,6,7123.0
2,I7GR,8426.0,10/12/2009,ZCI3,6900,CAT2,B,missing,7911.0,0,...,A,6862.0,8YTZ,BLACK,OK,51840,2008,A,1,7994.0
3,5KS5,9269.0,5/20/2010,PRN0,6475,CAT1,B,missing,7773.0,0,...,A,4872.0,FIVQ,GREEN,CO,83300,2005,A,5,5259.0
4,918O,5366.0,1/13/2009,C8A4,3960,CAT1,A,missing,4134.0,0,...,A,3365.0,KT8F,BLACK,NC,95035,2003,A,6,4362.0
5,K3BB,10352.0,9/23/2010,PRN0,5865,CAT2,B,GREEN,8983.0,0,...,A,5856.0,FIVQ,WHITE,CO,67918,2007,A,3,6764.0
6,RCQE,11427.0,8/4/2010,X7IX,8050,CAT1,A,missing,9827.0,0,...,A,6428.0,IAQO,GREY,FL,64745,2006,A,4,7753.0
7,RCQE,7723.0,5/19/2010,PRN0,6755,CAT1,B,missing,6663.0,0,...,A,3467.0,FIVQ,WHITE,MO,56014,2004,A,6,4577.0
8,YOC7,8782.0,5/18/2010,RRJQ,6030,OTHER,missing,missing,7424.0,0,...,A,4483.0,FIVQ,BLUE,GA,65314,2006,B,4,6511.0
9,1D1P,3210.0,8/19/2009,PRN0,2435,CAT1,B,missing,2350.0,0,...,A,1713.0,GXUO,BEIGE,TX,80708,2001,A,8,1906.0

In [18]:
pt_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62035 entries, 0 to 62034
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Junk                   62035 non-null  int64
 1   InteriorsStyle         62035 non-null  object
 2   PriceIndex8            62035 non-null  object
 3   ListDate               62035 non-null  object
 4   Material               62035 non-null  object
 5   PriceIndex9            62035 non-null  int64
 6   Agency                 62035 non-null  object
 7   AreaIncomeType         62035 non-null  object
 8   EnvRating              62035 non-null  object
 9   PriceIndex7            62035 non-null  object
 10  ExpeditedListing       62035 non-null  int64
 11  PriceIndex4            62035 non-null  object
 12  PriceIndex1            62035 non-null  object
 13  PriceIndex6            62035 non-null  object
 14  PRIMEUNIT              62035 non-null  object
 15  Channel                62035 non-null  object
 16  Zip                    62035 non-null  int64
 17  InsurancePremiumIndex  62035 non-null  int64
 18  PlotType               62035 non-null  object
 19  Architecture           62035 non-null  object
 20  PriceIndex3            62035 non-null  object
 21  Region                 62035 non-null  object
 22  PriceIndex5            62035 non-null  object
 23  SubModel               62035 non-null  object
 24  Facade                 62035 non-null  object
 25  State                  62035 non-null  object
 26  NormalisedPopulation   62035 non-null  int64
 27  BuildYear              62035 non-null  int64
 28  RegionType             62035 non-null  object
 29  PropertyAge            62035 non-null  int64
 30  PriceIndex2            62035 non-null  object
dtypes: int64(8), object(23)
memory usage: 14.7+ MB

In [19]:
pt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10948 entries, 0 to 10947
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   InteriorsStyle         10948 non-null  object
 1   PriceIndex8            10948 non-null  object
 2   ListDate               10948 non-null  object
 3   Material               10948 non-null  object
 4   PriceIndex9            10948 non-null  int64
 5   Agency                 10948 non-null  object
 6   AreaIncomeType         10948 non-null  object
 7   EnvRating              10948 non-null  object
 8   PriceIndex7            10948 non-null  object
 9   ExpeditedListing       10948 non-null  int64
 10  PriceIndex4            10948 non-null  object
 11  PriceIndex1            10948 non-null  object
 12  PriceIndex6            10948 non-null  object
 13  PRIMEUNIT              10948 non-null  object
 14  Channel                10948 non-null  object
 15  Zip                    10948 non-null  int64
 16  InsurancePremiumIndex  10948 non-null  int64
 17  PlotType               10948 non-null  object
 18  Architecture           10948 non-null  object
 19  PriceIndex3            10948 non-null  object
 20  Region                 10948 non-null  object
 21  PriceIndex5            10948 non-null  object
 22  SubModel               10948 non-null  object
 23  Facade                 10948 non-null  object
 24  State                  10948 non-null  object
 25  NormalisedPopulation   10948 non-null  int64
 26  BuildYear              10948 non-null  int64
 27  RegionType             10948 non-null  object
 28  PropertyAge            10948 non-null  int64
 29  PriceIndex2            10948 non-null  object
dtypes: int64(7), object(23)
memory usage: 2.5+ MB

In [20]:
pt_train.shape

(62035, 31)

In [21]:
pt_test.shape

(10948, 30)

In [22]:
pt_train.isnull().sum()

Junk                     0
InteriorsStyle           0
PriceIndex8              0
ListDate                 0
Material                 0
PriceIndex9              0
Agency                   0
AreaIncomeType           0
EnvRating                0
PriceIndex7              0
ExpeditedListing         0
PriceIndex4              0
PriceIndex1              0
PriceIndex6              0
PRIMEUNIT                0
Channel                  0
Zip                      0
InsurancePremiumIndex    0
PlotType                 0
Architecture             0
PriceIndex3              0
Region                   0
PriceIndex5              0
SubModel                 0
Facade                   0
State                    0
NormalisedPopulation     0
BuildYear                0
RegionType               0
PropertyAge              0
PriceIndex2              0
dtype: int64

In [23]:
pt_test.isnull().sum()

InteriorsStyle           0
PriceIndex8              0
ListDate                 0
Material                 0
PriceIndex9              0
Agency                   0
AreaIncomeType           0
EnvRating                0
PriceIndex7              0
ExpeditedListing         0
PriceIndex4              0
PriceIndex1              0
PriceIndex6              0
PRIMEUNIT                0
Channel                  0
Zip                      0
InsurancePremiumIndex    0
PlotType                 0
Architecture             0
PriceIndex3              0
Region                   0
PriceIndex5              0
SubModel                 0
Facade                   0
State                    0
NormalisedPopulation     0
BuildYear                0
RegionType               0
PropertyAge              0
PriceIndex2              0
dtype: int64

In [30]:
cat_to_numeric=['PriceIndex'+str(i) for i in range(1,10)]

In [24]:
pt_train['data']='train'
pt_test['data']='test'

all_data=pd.concat([pt_train,pt_test],axis = 0,sort=False)

In [25]:
all_data.shape

(72983, 32)

In [26]:
all_data.sample(5)

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2,data
35425,0.0,DUFA,8447.0,11/24/2009,PRN0,5525,CAT2,A,missing,7278.0,...,4012.0,FIVQ,WHITE,TX,69017,2006,A,3,5319.0,train
33330,0.0,4FTH,11005.0,4/17/2009,ARWN,7000,CAT2,B,missing,9169.0,...,8027.0,JXYG,GREY,AZ,73859,2005,A,4,9727.0,train
533,0.0,J4FZ,8288.0,2/3/2009,NV0M,7200,OTHER,A,missing,6827.0,...,5858.0,8DAV,MAROON,IA,73638,2004,B,5,7273.0,train
43657,1.0,H1CI,7595.0,7/22/2009,PRN0,5200,CAT2,missing,missing,6483.0,...,5540.0,FIVQ,SILVER,GA,63210,2006,A,3,6508.0,train
24042,0.0,RCQE,12719.0,5/5/2010,C8A4,8155,CAT1,B,missing,11353.0,...,7678.0,KT8F,WHITE,MO,75062,2007,A,3,9207.0,train

In [27]:
pt_train.describe()

,Junk,PriceIndex9,ExpeditedListing,Zip,InsurancePremiumIndex,NormalisedPopulation,BuildYear,PropertyAge
count,62035.000000,62035.000000,62035.000000,62035.000000,62035.000000,62035.000000,62035.000000,62035.00000
mean,0.122544,6731.444765,0.024680,58038.149109,1277.286854,71462.694302,2005.347739,4.17171
std,0.327915,1766.130806,0.155148,26143.635828,600.787708,14583.079578,1.730014,1.70878
min,0.000000,225.000000,0.000000,2764.000000,462.000000,4825.000000,2001.000000,0.00000
25%,0.000000,5430.000000,0.000000,32124.000000,837.000000,61803.500000,2004.000000,3.00000
50%,0.000000,6705.000000,0.000000,73108.000000,1155.000000,73361.000000,2005.000000,4.00000
75%,0.000000,7900.000000,0.000000,80022.000000,1623.000000,82370.500000,2007.000000,5.00000
max,1.000000,38785.000000,1.000000,99224.000000,7498.000000,115717.000000,2010.000000,9.00000

In [28]:
pt_test.describe()

,PriceIndex9,ExpeditedListing,Zip,InsurancePremiumIndex,NormalisedPopulation,BuildYear,PropertyAge
count,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000
mean,6728.038820,0.028681,58070.886372,1272.581293,71711.359244,2005.316496,4.204604
std,1777.611651,0.166916,26198.129254,587.738861,14554.141611,1.738088,1.731330
min,1.000000,0.000000,2764.000000,462.000000,5368.000000,2001.000000,1.000000
25%,5440.000000,0.000000,30331.000000,853.000000,61990.500000,2004.000000,3.000000
50%,6700.000000,0.000000,74135.000000,1169.000000,73364.500000,2005.000000,4.000000
75%,7900.000000,0.000000,80022.000000,1623.000000,82700.250000,2007.000000,5.000000
max,45469.000000,1.000000,98064.000000,7198.000000,113617.000000,2009.000000,9.000000

In [29]:
target='Junk'

In [31]:
for col in cat_to_numeric:
    all_data[col]=pd.to_numeric(all_data[col],errors='coerce')
    all_data[col]=all_data[col].fillna(all_data.loc[all_data['data']=='train',col].median())

In [32]:
cat_cols=['InteriorsStyle', 'ListDate', 'Material', 'Agency', 'AreaIncomeType',
       'EnvRating', 'PRIMEUNIT', 'Channel', 'PlotType', 'Architecture',
       'Region', 'SubModel', 'Facade', 'State', 'RegionType','Zip']

In [33]:
for col in cat_cols:
    k=all_data[col].value_counts()
    cats=k[k>=1000].index[:-1]
    
    for cat in cats:
        name=col+'_'+str(cat)
        all_data[name]=(all_data[col]==cat).astype(int)
        
    del all_data[col]

In [34]:
all_data.shape

(72983, 125)

In [35]:
x_train=all_data.drop([target,'data'],1)[all_data['data']=='train']
y_train=all_data[target][all_data['data']=='train']
x_test=all_data.drop([target,'data'],1)[all_data['data']=='test']

In [36]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72983 entries, 0 to 10947
Columns: 125 entries, Junk to Zip_32124
dtypes: float64(9), int32(109), int64(6), object(1)
memory usage: 39.8+ MB

In [37]:
from sklearn.model_selection import KFold
import matplotlib.pyplot as plt
from sklearn import tree

In [38]:
dtree=tree.DecisionTreeClassifier(criterion="entropy",max_leaf_nodes=20,
                                  class_weight="balanced")

In [39]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
                       max_leaf_nodes=20)

In [40]:
from sklearn.metrics import roc_auc_score

In [41]:
roc_auc_score(y_train,dtree.predict(x_train))

0.6726133727715479

In [42]:
submissions=pd.DataFrame({'Junk':dtree.predict_proba(x_test)[:,1]})

In [45]:
submissions.to_csv('tanviproject5.csv', index=False)